body{
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Navigation Bar */

.navbar1{
    background-color: white;
    width: 100%;
}
.navBarLink1{
    color: black;
}
#navBarLink1a button{
    background-color: #ffea5f;
    color: black;
    text-align: center;
}
#navBarLink1b button{
    background-color: black;
    color: white;
    text-align: center;
}

/* Main Container */

.container1{
    background-color: rgb(239, 237, 237);
    border-radius: 50px;
    padding-top: 50px;
}
.col1b{
    margin-bottom: 100px;
}
.col1b img{
    margin-left:auto;
    margin-right:auto ;
    width: 60%;
    height: 60%;
}
.col1b h6{
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto ;
}
.col1b button{
    overflow: hidden;
    margin-top: 15px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 7px;
    width: 60%;
    height: 53px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.col1b a{
    text-decoration: none;
    overflow: hidden;
}
.col1c img{
    width: 60%;
}

/* Manufacturers Container */

.container2{
    background-color: #EBD96B;
    margin-top: 100px;
}
.container2 img{
    padding-top: 10px;
    padding-bottom: 10px;
}
.img1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Promotions Container */

.container3{
    margin-top: 100px;
    background-color: rgb(239, 237, 237);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col3a h4{
    overflow: hidden;
    font-weight: 900;
    color: black;
    text-align: center;
}
.col3a p{
    overflow: hidden;
    font-weight: 400;
    color: black;
    text-align: center;
}
.col3a i{
    overflow: hidden;
    font-size: 50px;
    color: black;
    text-align: center;
}

/* Sales Container */

.container4{
    background-color: #ffea5f;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.col4a img{
    width: 60%;
}
.col4b img{
    margin-left:auto;
    margin-right:auto ;
    width: 60%;
    height: 60%;
}
.col4b h4{
    overflow: hidden;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto ;
}
.col4b button{
    overflow: hidden;
    margin-top: 15px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 7px;
    width: 60%;
    height: 53px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.col4b a{
    overflow: hidden;
    text-decoration: none;
}
#head4b {
    font-weight: bold;
}

/* Trend Container */

.container5{
    margin-top: 100px;
    background-color: rgb(239, 237, 237);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.container5 img{
    background-size: cover;
}
.container5 button{
    overflow: hidden;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: solid 2px;
    border-radius: 20px;
    width: 100%;
    height: 53px;
}
.col5a h1{
    padding-top: 40px;
    overflow: hidden;
    font-weight: 900;
    color: black;
}
.col5b {
    padding-top: 30px;
    padding-bottom: 30px;
}
.col5b h4{
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 32;
}
.col5b h6{
    overflow: hidden;
    padding-left: 10px;
    color: #7F7F7F;
    font-size: 24;
}
.col5b button{
    width: 100%;
    height: 50%;
}
.col5c {
    padding-top: 30px;
    padding-bottom: 30px;
}
.col5b .card{
    padding-top: 20px;
}
.col5c .card{
    padding-top: 20px;
}
.col5c h4{
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 32;
}
.col5c h6{
    padding-left: 10px;
    color: #7F7F7F;
    font-size: 24;
}

/* Modal */

.forgotPass a{
    overflow: hidden;
    text-decoration: none;
}
.loginButton button{
    width: 100%;
    background-color: #ffea5f;
    margin-top: 20px;
}
.signUp p{
    overflow: hidden;
    text-align: center;
}
.signUp a{
    overflow: hidden;
    text-decoration: none;
}

/* Sign Up Form */

.signupContainer{
    overflow: hidden;
    margin-top: 50px;
    background-color: rgb(239, 237, 237);
    padding: 20px;
    border-radius: 20px;
}
.signupContainer label{
    overflow: hidden;
}
.signupContainer h1{
    overflow: hidden;
    text-align: center;
}
.signupContainer button{
    overflow: hidden;
    background-color: #ffea5f;
    margin-top: 20px;
    width: 100%;
}
.signupContainer a{
    overflow: hidden;
    text-decoration: none;
    color: black;
    
}

/* Footer */

.container6 {
    background-color: #E5C643;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.col6a h1 {
    margin-top: 100px;
    overflow: hidden;
    color: white;
    font-weight: 900;
}
.col6a p{
    overflow: hidden;
    color: white;
    font-weight: 400;
}
.col6b input{
    width: 20%;
    height: 40px;
    border: solid 0px;
    border-radius: 5px;
}
.col6c button{
    overflow: hidden;
    margin-top: 5px;
    background-color: black;
    color: white;
    border-radius: 7px;
    width: 20%;
    margin-bottom: 30px;
}
.container7{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.col7b p{
    color: #8E8E8E;
    font-weight: 400;
    font-size: 24;
    position: relative;
    right: 25px;
}
.col7b i{
    color: #E5C643;
    font-size: 50px;
    position: relative;
    right: 30px;
}
.col7d a{
    overflow: hidden;
    text-decoration: none;
}
.col7d h6{
    color: white;
    font-weight: 400;
    font-size: 24;
    text-align: left;
    overflow: hidden;
}
.col7d p{
    color: #8E8E8E;
    text-align: left;
    overflow: hidden;
}
.col7e a{
    text-decoration: none;
}
.col7e h6{
    color: white;
    font-weight: 400;
    font-size: 24;
    text-align: left;
    overflow: hidden;
}
.col7e p{
    color: #8E8E8E;
    text-align: left;
    overflow: hidden;
}
.col7f{
    padding-bottom: 80px;
    overflow: hidden;
}
.col7f a{
    overflow: hidden;
    text-decoration: none;
}
.col7f h6{
    color: white;
    font-weight: 400;
    font-size: 24;
    text-align: left;
    overflow: hidden;
}
.col7f p{
    color: #8E8E8E;
    text-align: left;
    overflow: hidden;
}


